<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}The Library{% endblock title %}</title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <h1>Welcome to the Library {{user.email}}!</h1>
            <a href="{% url 'myapp:book_list' %}">Check the Inventory</a>
            <a href="{% url 'account_logout' %}">Logout</a>
        {% endif %}
        <div>
            {% block content %}{% endblock content %}
        </div>
    </nav>
</body>
</html>